:root {
    --font-family-main: Fraunces;
    --font-family-second: Barlow;

    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --color-dark: #24303E;
    --color-greyquotes: #5B636D;
    --color-grey: #808397;
    --color-lightgrey: #A7AAAD;
    --color-yellow: #FBD600;
    --color-darkgreen: #24554A;
    --color-lightgreenbg:#90D4C6;
    --color-logogreen: #2C7566;
    --color-lightgreen-ftlinks: #458D7E;
    --color-darkblue:#052C3B;
    --color-darkblue75: hsla(197, 86%, 12%, 0.75);

    

}